/target
/texts
/big_col
/lib
/classes
/checkouts
pom.xml
*.txt
*.jar
*.zip
/fb2
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
1
10
11
12
13
14
15
16
17
18
19
2
20
21
22
23
24
25
26
27
28
29
3
30
31
32
33
34
35
36
37
38
39
4
40
41
42
43
44
45
46
47
48
49
5
50
51
52
53
6
7
8
9
aux
aux_gram
clojure-get-free-memory
d-compressed
d-uncompressed
dict
doc-ids
ids
ids2
ind
jdocs
joined
jres
list
list2
okl
out
per
query-example
run.sh
run2.sh
run_aux.sh
tmp_ind
tmp_ind_c
ut
ut2
wildcard-example
z_c
z_u
z_un
zi
